Flask
firebase-admin
google-auth
google-cloud-texttospeech
openai
google-generativeai
datetime
logging
vertexai
google-cloud-aiplatform
chatterbot==1.0.4 pytz
numpy
tflearn
tensorflow==2.12.0